doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Game
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Play', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='styles.css')
    script(type='text/javascript', src='phaser.min.js')
    script(type='text/javascript', src='js/boot.js')
    script(type='text/javascript', src='js/load.js')
    script(type='text/javascript', src='js/menu.js')
    script(type='text/javascript', src='js/play1.js')
    script(type='text/javascript', src='js/play2.js')
    script(type='text/javascript', src='js/play3.js')
    script(type='text/javascript', src='js/gameOver.js')
    script(type='text/javascript', src='js/won.js')
    script(type='text/javascript', src='js/game.js')
  body
    header.header
    .row
      .container.text-center
        h2.hiddenText
        #gameDiv.wrap-all
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
