<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styles.css">
  <script type="text/javascript" src="phaser.min.js"></script>
  <script type="text/javascript" src="js/boot.js"></script>
  <script type="text/javascript" src="js/load.js"></script>
  <script type="text/javascript" src="js/menu.js"></script>
  <script type="text/javascript" src="js/play1.js"></script>
  <script type="text/javascript" src="js/play2.js"></script>
  <script type="text/javascript" src="js/play3.js"></script>
  <script type="text/javascript" src="js/gameOver.js"></script>
  <script type="text/javascript" src="js/won.js"></script>
  <script type="text/javascript" src="js/game.js"></script>
</head>

<body class="">
  <header class="header">
  </header>
  <div class="row">
    <div class="container text-center">
      <h2 class="hiddenText"></h2>
      <div id="gameDiv" class="wrap-all"></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>